
.grid-container {
    display: grid;   
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}

.grid-item {
    color: #fff;
    padding: 15px;
    border: black 1px solid;
}